[user]
    email = niemela.elmeri@gmail.com
    name = Elmeri Niemelä
[credential]
    helper = store
[pull]
    ff = only
[init]
    defaultBranch = master
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[advice]
    addIgnoredFile = false
[url "git@bitbucket.org:"]
    insteadOf = https://bitbucket.org/
[url "git@github.com:"]
    insteadOf = https://github.com/
