[user]
    email = niemela.elmeri@gmail.com
    name = Elmeri Niemelä
[credential]
    helper = store
[pull]
    ff = only
[init]
    defaultBranch = master
[advice]
    addIgnoredFile = false
[url "git@bitbucket.org:"]
    insteadOf = https://bitbucket.org/
[url "git@github.com:"]
    insteadOf = https://github.com/
[core]
	commentChar = ";"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
